.aboutus {
    height: 100vh;
    background: linear-gradient(to bottom, #161618 30%, #081F37 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.section {
    font-size: 32px;
    max-width: 800px;
    color: white;
    text-align: center;
    padding: 20px;
    text-align: justify;
}
h1 {
    margin-bottom: 100px;
    font-size: 64px;
    color: white;

}