@import url(https://fonts.googleapis.com/css?family=Oswald:400);


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px; /* Adjust padding as needed */
}

.logout-div img {
  width: 25px;
  border-radius: 50px;
  float: left;
}

.logout-div .logout{
  font-size: .8em;
	position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

.logout-div .button {
	text-decoration: none;
	float: right;   
  color: white;
  width: 50px;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

.logout-div a:hover {
  width: 120px;
}

.logout-div a:hover .logout{
  opacity: .9;
}

.logout-div a {
  text-decoration: none;
}

