.profil-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.struktur-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.crew .container {
    padding: 20px;
}

.crew {
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
}

.team-item {
    display: inline-block;
    width: 200px; /* Adjust width as needed */
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.team-item:hover {
    transform: scale(1.05);
}


.team-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-item h5 {
    margin: 10px 0 5px;
}

.team-item span {
    display: block;
    margin-bottom: 15px;
    color: #666;
}

.admin-buttons {
    margin-top: 15px;
}

.admin-buttons .btn {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admin-buttons .btn-edit {
    background-color: #5fc9f3;
    color: white;
}

.admin-buttons .btn-edit:hover {
    background-color: #0056b3;
}

.admin-buttons .btn-delete {
    background-color: #f56b6b;
    color: white;
}

.admin-buttons .btn-delete:hover {
    background-color: #d32f2f;
}
