.change-img {
    position: relative;
    width: 50%;
}

.change-img img {
    width: 100%;
    height: auto;
}

.change-img .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

h2{
    margin-top: 10px;
}

.slideshow-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0;
}

.slideshow-img {
    flex: 0 0 auto;
    width: 860px;
    min-height: 500px;
    padding: 10px;
    border-radius: 5px;        
}

.tambah-img{
    padding: 200px 0;
    text-align: center;
}

.change-img {   
    width: 100%; /* Set a specific width for each image container */
}

.change-img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.slideshow-img::-webkit-scrollbar {
    height: 10px;
}

.slideshow-img::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

.slideshow-img::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}


.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table-logo {
    width: 50px;
    height: auto;
}

.link-tv{
    border: 1px solid #ddd;
    padding: 7px;
}
.table-container {
    max-height: 300px; /* Adjust height as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    border: 1px solid #ddd;
    border-radius: 5px;

}

.link-live{
    border: 1px solid #ddd;
    padding: 7px;
}

.logo-tv{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.link-live {
    border: 1px solid #ddd;
    padding: 7px;
}