* {
  box-sizing: border-box;
}

.page-title {
  color: white;
  font-size: 4rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
}

/*News1*/
.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.column-left {
  flex: 0 0 50%;
}

.column-right {
  flex: 0 0 50%;
}
.news-card1 {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 80%;
  margin: auto;
}

.news-card1-image {
  width: 100%;
  height: 251px;
  object-fit: cover;
}

/*News2*/

.news-card2 {
  background-color: rgba(255, 10, 10, 0);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 80%;
  margin: 4rem auto;
}

.news-card2-image {
  height: 251px;
  object-fit: cover;
}

/*News3*/

.news-card3 {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 80%;
  margin: auto;
}

.news-card3-image {
  width: 100%;
  height: 570px;
  object-fit: cover;
}

/*Text Content*/

.news-card-description {
  font-size: 1.125rem;
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.77);
  margin-bottom: 25px;
}

.kategori {
  color: #5fc9f3;
  font-size: 0.875rem;
  margin-top: 10px;
}

.news-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.43);
}

.news-card-title {
  color: white;
}

/*News Section*/

.news-section {
  width: 100%;
}

.news-section .section-content {
  width: 85%;
  margin: 20px auto;
}

.news-section .section-content .title {
  margin: auto;
}

.news-section .section-content .title h2 {
  font-size: 40px;
  color: white;
}

.news-section .section-content .title p {
  font-size: 18px;
  color: white;
  margin-top: 20px;
}

.news-section .section-content .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin: 25px auto;
}

.news-section .section-content .cards .card {
  width: 100%;
  background-color: none;
  position: relative;
}

.news-section .section-content .cards .card img {
  width: 100%;
  height: auto;
}

.news-section .section-content .cards .card .article {
  padding: 15px 20px;
}

.news-section .section-content .cards .card .article h4 {
  font-size: 24px;
  color: white;
}

.news-section .section-content .cards .card .article p {
  font-size: 16px;
  margin: 10px 0px;
  color: white;
}

.news-section .section-content .cards .card .news-view {
  display: inline-block;
  border: 2px solid #2e79ba;
  padding: 8px 15px;
  margin-left: 20px;
  color: #2e79ba;
  border-radius: 25px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.news-view a {
  color: inherit;
}

.news-section .section-content .cards .card .news-view:hover {
  color: white;
  border-color: white;
}

.news-section .section-content .cards .card .metadata{
  color: white;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.hover-button {
  background-color: #2e79ba; /* Button background color */
  margin-top: 10px;
  margin-right: 70px;
  height: 40px;
  color: white; /* Text color */
  border: none; /* No border */
  padding: 10px 20px; /* Padding */
  font-size: 16px; /* Font size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effect */
}

.hover-button:hover {
  background-color: #0056b3; /* Darker background color on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.top{
  display: flex;
  justify-content: space-between;
}