/* General */
body {
  margin: 0;
  background-color: #161618;
  font-family: "Inria Sans", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* Carousel */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .slider-wrapper {
    max-width: 100%;
  }

  .slider-nav {
    bottom: 0.5rem;
  }
}

.container {
  padding: 2rem;
}

.slide-wrapped {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}
.slider {
  display: flex;
  aspect-ratio: 21/9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  max-width: 100%;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

/* Banner */
.banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 50rem;
  max-width: 80%;
}

/* Content */
.content {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 1rem;
}

.column {
  padding: 1rem;
}

.primary-column {
  flex: 0 0 70%;
}

.news img {
  display: block;
  width: 100%;
}

.secondary-column {
  flex: 0 0 20%;
}

.primary-column p {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}

.low-highlight {
  background: linear-gradient(180deg, transparent 60%, #5fc9f3 60%);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .primary-column,
  .secondary-column {
    flex: 0 0 100%;
  }

  .primary-column p {
    font-size: 2rem; /* Smaller font size for smaller screens */
  }

  .hamburger-icon {
    height: 1.25rem;
    width: 1.5rem;
  }

  .hamburger-icon span {
    height: 0.1rem;
  }

  .menu-text {
    font-size: 0.875rem;
  }

  .menu-links a {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .primary-column p {
    font-size: 1.5rem; /* Further decrease font size for very small screens */
  }
}
