.dashboard {
    padding: 20px;
}

.complaint-section, .details-section {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.btn {
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.btn-view {
    background-color: #007bff;
}

.btn-delete {
    background-color: #dc3545;
}

.details-section h2{
    margin-top: 20px;
}

header {
    margin-left: 20px;
}